/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.homeBody {
  height: 85vh;
  width: 100%;
  background: url(https://uploads.disquscdn.com/images/9a218eddc93dcc0ae938674999071532f161f5de018594f91d446c917af254a8.png);
  background-position: center;
  position: relative; }

.homeMainContainer {
  height: 100%;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center; }

.homeHeaderContainer {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative; }

.homeHeaderText {
  font-family: 'Ravi Prakash', cursive;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center; }

.homeHunterCreatorDiv {
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%; }

.homeHunterNameHeaderText {
  font-size: 40px;
  font-family: 'Ravi Prakash', cursive;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%; }

.homeNewHunterInput {
  width: 40%;
  height: 15%;
  text-align: center;
  margin-bottom: 3%;
  font-size: 25px; }

.homeCreateHunterButton {
  width: 40%; }

.huntPokemonInfoContainer {
  height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center; }

.huntPokemonName {
  font-size: 55px; }

.hunterInfoContainer {
  height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start; }

.huntPokemonInfo {
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 35px;
  margin-left: 2%; }

.huntPokemonImage {
  height: 100%;
  width: 30%;
  border: none; }

.huntAttackButton {
  height: 80px;
  width: 120px;
  position: absolute;
  right: 20%;
  font-family: 'Ravi Prakash', cursive;
  font-size: 30px;
  text-align: center; }

.huntContinueHuntButton {
  height: 80px;
  width: 120px;
  position: absolute;
  right: 10%;
  font-family: 'Ravi Prakash', cursive;
  font-size: 20px;
  text-align: center; }

.deadPokemonImage {
  height: 100%;
  width: 30%;
  border: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear; }

body {
  height: 100%;
  cursor: url("http://www.cursor.cc/cursor/628/40/cursor.png"), auto; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #ACE4AA;
  color: #575A4B;
  font-family: 'Ravi Prakash', cursive;
  font-size: 35px;
  height: 70px;
  padding-top: 3%;
  font-weight: bolder; }

.navOption:hover {
  color: #C1FFF2;
  font-size: 50px;
  transition: font-size 500ms; }

.seePreyHeaderText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Ravi Prakash', cursive;
  font-size: 50px;
  font-weight: bold; }

.seePreyPic {
  width: 250px;
  height: 250px; }

.preyName {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Ravi Prakash', cursive; }

.preyContainer {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  width: 30vw;
  justify-content: center; }

.seePreySection {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  flex-wrap: wrap; }

.seePreyHeaderContainer {
  height: 30vh;
  width: 100%;
  position: relative;
  text-align: center; }

.seePreyBody {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(https://uploads.disquscdn.com/images/9a218eddc93dcc0ae938674999071532f161f5de018594f91d446c917af254a8.png);
  background-position: center;
  background-size: cover; }

#fixedHeader {
  position: fixed;
  z-index: 2; }
